@use "../../styles/variables.scss" as variables;
@use "../../styles/Mixins.scss" as Mixins;

.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .UserCard {
    display: flex;
    gap: 10px;
    width: 48%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid variables.$outlined-button-color;
    background-color: variables.$Card-background;
    .ImgContainer {
      img {
        border-radius: 50%;
        padding: 10px;
      }
    }
    .UsersInfo {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .UserDetails {
        span {
          display: block;
          line-height: 20px;
        }
        .UsersName{
          font-size: 18px;
          font-weight: bold;
        }
      }
      .EditButton {
        button {
          border: none;
          background-color: variables.$Link-Background;
          outline: none;
          color: variables.$button-color;
          border-radius: 6px;
          padding: 6px 25px;
          cursor: pointer;
        }
      }
    }
  }
  .ButtonSearchBar {
    display: flex;
    height: 37px;
    justify-content: space-between;
    .btnContainer {
      display: flex;
      gap: 9px;
      flex: 3;
      button {
        @include Mixins.buttonTemplate;
        padding: 10px 5px;
        border: none;
        outline: none;
        font-size: 13.8px;
        color: variables.$font-color-link;
        background: variables.$Background-shipping;
        border: 1px solid variables.$outlined-button-color;
        box-shadow: 0px 1px 2px variables.$Box-shadow;
        border-radius: 6px;
        transition: ease 0.5s;
      }
      .active,
      button:hover {
        background-color: variables.$Link-Background;
        color: variables.$button-color;
      }
      .shipmentType{
        top: 340px;
        width: 80px;
        left: 492px;
        height: 40px;
        display: flex;
        position: absolute;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: whitesmoke;
        background-color:variables.$Link-Background;
        span{
          &:hover{
            cursor: pointer;
          }
          display: block;
        }
      }
    }
    .inputContainer {
      flex: 1;
      display: flex;
      padding-left: 10px;
      justify-content: flex-end;
      .SearchBarWrapper {
        border: 1px solid variables.$outlined-button-color;
        box-shadow: 0px 1px 2px variables.$Box-shadow;
        border-radius: 6px;
        color: variables.$Main-text-color;
        @include Mixins.CenterDiv;
        input {
          border: none;
          outline: none;
          width: 80%;
        }
        input::placeholder {
          font-size: 12px;
        }
        .Icon {
          font-size: 16px;
          margin-right: 5px;
        }
        width: 100%;
      }
    }
  }
}