// Colors
$button-color:#FFFFFF;
$Border-color: #E5E7EB;
$Main-text-color:#6B7280;
$Link-Background: #3AB44A;
$font-color-link: #000000;
$Notification-color:#374151;
$Topbar-UserIcon-alt:#ff0000;
$outlined-button-color:#D1D5DB;
$Notificationbadge-background:#DD2747;

// Styles
$constainerPadding:0 60px;