@use "./mixins" as Mixins;
@use "./variables" as variables;

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  thead {
    font-size: 12px;
    color: variables.$Main-text-color;
    th {
      padding-right: 50px;
    }
  }
  tbody {
    height: 150px;
    td{
        margin-left: 10px;
    }
    tr {
      border: 1px solid variables.$Border-color;
      .ProfileIconBox {
        display: flex;
        gap: 10px;
        height: 80px;
        align-items: center;
        .ProfileIconImg img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      .ButtonBox {
        text-align: center;
        padding-right: 10px;
        .btn {
          display: inline-block;
        }
        .Shipments {
          margin-right: 10px;
          @include Mixins.outlinedButton;
        }
        .Edit {
          @include Mixins.button;
        }
      }
    }
  }
}
